[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https:/github.com/lavaorg/telex
After=network.target

[Service]
EnvironmentFile=-/etc/default/telegraf
User=telegraf
ExecStart=/usr/bin/telegraf -config /etc/telegraf/telex.conf -config-directory /etc/telegraf/telex.d $TELEGRAF_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
